<section>
  <h2>Plugin Check Report</h2>
  <br><br>

  {{#issues}}
  <strong>{{file}}</strong><br><br>
  <strong>{{type}}: {{code}}</strong>
  {{#has_location}} - Line {{line}}, Column {{column}}{{/has_location}}
  <br><br>
  {{message}}<br><br>

  {{#docs}}
  <a href="{{docs}}" target="_blank">Learn more</a><br><br>
  {{/docs}}

  {{/issues}}

  {{^issues}}
  <p>No issues found.</p>
  {{/issues}}
</section>
